<form class="form" action="result" method="post">
    <div>How do you feel?</div>
    <label for="hungry">Are you hungry?</label>
    <input type="text" name="name" />
    <label for="age">Are you happy?</label>
    <input type="text" name="happy" />
    <label for="tired">Are you tired?</label>
    <input type="text" name="tired" />
    <label for="sad">Are you sad?</label>
    <input type="text" name="sad" />
</form>
